$color-background: rgb(45, 71, 68, 0.9);
$color-foreground: #cac2a4;
$color-border: #cac2a4;
$color-highlight: #60c5ba;
$color-text: #4b441a;
$color-input-border: #efe5c3;
$color-pag-button-border: #5ac7ba;
$color-pag-button-bg: rgba(96, 197, 186, 0.5);
$color-result-card-bg: #cac2a4;
$color-result-card-text: #4b441a;
