<template>
  <div class="result-card">
    <h3>{{ name }}</h3>
    <p class="description">{{ description }}</p>
    <img src="@/assets/sword-icon.svg" alt="Icon" />
  </div>
</template>

<script lang="ts" setup>
import { defineProps } from 'vue';

defineProps<{
  id: string;
  name: string;
  description: string;
}>();
</script>

<style scoped lang="scss">
@import '@/styles/variables.scss';

.result-card {
  background-color: $color-result-card-bg;
  color: $color-result-card-text;
  border-radius: 10px;
  padding: 20px;
  position: relative;
  height: 250px;
  cursor: text;
  display: flex;
  flex-direction: column;

  h3 {
    font-size: 1.2em;
    margin: 0 0 10px 0;
  }

  .description {
    font-size: 0.9em;
    margin: 0;
    flex: 1;
    overflow-y: auto;
  }

  img {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
  }
}
</style>
